- element = "bar-chart-#{SecureRandom.hex(8)}"
.chart-container class=(small ? "small" : "")
  canvas.bar-chart class=element

javascript:
  barChart(
    ".#{element}",
    #{Oj.dump(keys).html_safe},
    #{Oj.dump(values).html_safe}
  );
