- element = "bar-chart-#{SecureRandom.hex(8)}"
canvas.bar-chart class=element width="400" height=(small ? 60 : 150)

javascript:
  barChart(
    ".#{element}",
    #{Oj.dump(keys).html_safe},
    #{Oj.dump(values).html_safe}
  );
