---
http_interactions:
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/thread_safe.json
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 54.186.104.15:443
      Etag:
      - '"482f2c503263795ab94df9b62a25c35a"'
    body:
      encoding: UTF-8
      string: '{"name":"thread_safe","downloads":165826771,"version":"0.3.6","version_downloads":67908005,"platform":"ruby","authors":"Charles
        Oliver Nutter, thedarkone","info":"A collection of data structures and utilities
        to make thread-safe programming in Ruby easier","licenses":["Apache-2.0"],"metadata":{},"sha":"9ed7072821b51c57e8d6b7011a8e282e25aeea3a4065eab326e43f66f063b05a","project_uri":"https://rubygems.org/gems/thread_safe","gem_uri":"https://rubygems.org/gems/thread_safe-0.3.6.gem","homepage_uri":"https://github.com/ruby-concurrency/thread_safe","wiki_uri":"","documentation_uri":"http://ruby-concurrency.github.io/thread_safe/frames.html","mailing_list_uri":"https://groups.google.com/forum/#!forum/concurrent-ruby","source_code_uri":"https://github.com/ruby-concurrency/thread_safe","bug_tracker_uri":"https://github.com/ruby-concurrency/thread_safe/issues","changelog_uri":null,"dependencies":{"development":[{"name":"atomic","requirements":"=
        1.1.16"},{"name":"rake","requirements":"\u003c 12.0"},{"name":"rspec","requirements":"~\u003e
        3.2"}],"runtime":[]}}'
  recorded_at: Wed, 05 Dec 2018 14:33:47 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/versions/thread_safe.json
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Wed, 22 Feb 2017 19:51:17 GMT
      X-Backend:
      - F_Rails 54.186.104.15:443
      Etag:
      - '"056921f453821c9f74372daad7cd9ae5"'
    body:
      encoding: UTF-8
      string: '[{"authors":"Charles Oliver Nutter, thedarkone","built_at":"2017-02-22T00:00:00.000Z","created_at":"2017-02-22T19:51:15.835Z","description":"A
        collection of data structures and utilities to make thread-safe programming
        in Ruby easier","downloads_count":2108244,"metadata":{},"number":"0.3.6","summary":"Thread-safe
        collections and utilities for Ruby","platform":"java","rubygems_version":"\u003e=
        0","ruby_version":"\u003e= 0","prerelease":false,"licenses":["Apache-2.0"],"requirements":[],"sha":"bb28394cd0924c068981adee71f36a81c85c92e7d74d3f62372bd51489a0e0c2"},{"authors":"Charles
        Oliver Nutter, thedarkone","built_at":"2017-02-22T00:00:00.000Z","created_at":"2017-02-22T19:50:54.397Z","description":"A
        collection of data structures and utilities to make thread-safe programming
        in Ruby easier","downloads_count":67908005,"metadata":{},"number":"0.3.6","summary":"Thread-safe
        collections and utilities for[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/thread_safe/reverse_dependencies.json
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 54.186.104.15:443
      Etag:
      - '"2f4fcf331b9d364e42c50420d8b41320"'
    body:
      encoding: UTF-8
      string: '[...]
- request:
    method: head
    uri: https://github.com/ruby-concurrency/thread_safe
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 05 Dec 2018 14:33:49 GMT
- request:
    method: post
    uri: https://api.github.com/graphql
    body:
      encoding: UTF-8
      string: '{"query":"query RepositoryDataQuery($owner: String!, $name: String!)
        {\n\n  repository(owner: $owner, name: $name) {\n    nameWithOwner\n    forks
        {\n      totalCount\n    }\n    stargazers {\n      totalCount\n    }\n    watchers
        {\n      totalCount\n    }\n    createdAt\n    defaultBranchRef {\n      name\n      target
        {\n        ... on Commit {\n          history(first: 50) {\n            edges
        {\n              node {\n                authoredDate\n              }\n            }\n          }\n        }\n      }\n    }\n    description\n    hasIssuesEnabled\n    hasWikiEnabled\n    homepageUrl\n    isArchived\n    isFork\n    isMirror\n    licenseInfo
        {\n      key\n    }\n    primaryLanguage {\n      name\n    }\n    pushedAt\n    closedIssues:
        issues(states: CLOSED) {\n      totalCount\n    }\n    openIssues: issues(states:
        OPEN) {\n      totalCount\n    }\n    closedPullRequests: pullRequests(states:
        CLOSED) {\n      totalCount\n    }\n    openPullRequests: pullRequests(states:
        OPEN) {\n      totalCount\n    }\n    mergedPullRequests: pullRequests(states:
        MERGED) {\n      totalCount\n    }\n    repositoryTopics(first: 100) {\n      nodes
        {\n        topic {\n          name\n        }\n      }\n    }\n    codeOfConduct
        {\n      name\n      url\n    }\n  }\n  rateLimit {\n    limit\n    cost\n    remaining\n    resetAt\n  }\n}\n","variables":{"owner":"ruby-concurrency","name":"thread_safe"}}'
    headers:
      Authorization:
      - bearer <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Oauth-Scopes:
      - public_repo
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v4; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '2436'
      X-Ratelimit-Reset:
      - '1544021735'
    body:
      encoding: UTF-8
      string: '{"data":{"repository":{"nameWithOwner":"ruby-concurrency/thread_safe","forks":{"totalCount":15},"stargazers":{"totalCount":188},"watchers":{"totalCount":13},"createdAt":"2014-06-06T22:13:43Z","defaultBranchRef":{"name":"master","target":{"history":{"edges":[{"node":{"authoredDate":"2017-07-23T14:05:43Z"}},{"node":{"authoredDate":"2017-07-03T16:42:54Z"}},{"node":{"authoredDate":"2017-02-22T19:45:05Z"}},{"node":{"authoredDate":"2017-01-28T23:20:05Z"}},{"node":{"authoredDate":"2017-01-22T18:38:37Z"}},{"node":{"authoredDate":"2017-01-06T13:23:43Z"}},{"node":{"authoredDate":"2016-06-07T13:16:04Z"}},{"node":{"authoredDate":"2016-06-06T12:06:31Z"}},{"node":{"authoredDate":"2015-04-28T02:01:09Z"}},{"node":{"authoredDate":"2015-04-28T01:49:03Z"}},{"node":{"authoredDate":"2015-04-2[...]
- request:
    method: get
    uri: https://api.github.com/repos/ruby-concurrency/thread_safe/readme
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - bearer <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.github.v3.html; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - '"9989bcf5eab45cb8f347e0a9ae3b9c9b"'
      Last-Modified:
      - Sun, 23 Jul 2017 14:05:43 GMT
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; param=html
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4966'
      X-Ratelimit-Reset:
      - '1598827195'
    body:
      encoding: UTF-8
      string: |-
        <div id="readme" class="md" data-path="README.md"><article class="markdown-body entry-content container-lg" itemprop="text"><h1><a id="user-content-threadsafe-inactive-code-moved-to-concurrent-ruby-gem-and-repo" class="anchor" aria-hidden="true" href="#threadsafe-inactive-code-moved-to-concurrent-ruby-gem-and-repo"><svg class="octicon octicon-link" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z"></path></svg></a>Threadsafe (Inactive, code moved to concurrent-ruby gem and repo.)</h1>
        <p><a href="http://badge.fury.io/rb/thread_safe" rel="nofollow"><img src="https://camo.githubusercontent.com/a603c1f6213d1519feeef38afdd85b01da126ef8/68747470733a2f2f62616467652e667572792e696f2f72622f7468726561645f736166652e737667" alt="Gem Version" data-canonical-src="https://badge.fury.io/rb/thread_safe.svg" style="max-width:100%;"></a> <a href="https://travis-ci.org/ruby-concurrency/thread_safe" rel="nofollow"><img src="https://camo.githubusercontent.com/a374999c8acfadc2da1ec4cc56a56706201edd70/68747470733a2f2f7472617669732d63692e6f72672f727562792d636f6e637572[...]
