---
http_interactions:
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/rspec.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 54.186.104.15:443
      Etag:
      - '"db395f58b6abb4a2f5472e4819cae84e"'
    body:
      encoding: UTF-8
      string: '{"name":"rspec","downloads":145987798,"version":"3.7.0","version_downloads":20159948,"platform":"ruby","authors":"Steven
        Baker, David Chelimsky, Myron Marston","info":"BDD for Ruby","licenses":["MIT"],"metadata":{},"sha":"0174cfbed780e42aa181227af623e2ae37511f20a2fdfec48b54f6cf4d7a6404","project_uri":"https://rubygems.org/gems/rspec","gem_uri":"https://rubygems.org/gems/rspec-3.7.0.gem","homepage_uri":"http://github.com/rspec","wiki_uri":"","documentation_uri":"http://relishapp.com/rspec","mailing_list_uri":"http://rubyforge.org/mailman/listinfo/rspec-users","source_code_uri":"http://github.com/rspec/rspec","bug_tracker_uri":"","changelog_uri":null,"dependencies":{"development":[],"runtime":[{"name":"rspec-core","requirements":"~\u003e
        3.7.0"},{"name":"rspec-expectations","requirements":"~\u003e 3.7.0"},{"name":"rspec-mocks","requirements":"~\u003e
        3.7.0"}]}}'
  recorded_at: Tue, 02 Jan 2018 19:38:55 GMT
recorded_with: VCR 3.0.3
