---
http_interactions:
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/thread_safe.json
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 35.81.132.230:443
      Etag:
      - '"5548842c3987ceb2ef71f1627bbdfc28"'
    body:
      encoding: UTF-8
      string: '{"name":"thread_safe","downloads":600937790,"version":"0.3.6","version_created_at":"2017-02-22T19:50:54.397Z","version_downloads":482100880,"platform":"ruby","authors":"Charles
        Oliver Nutter, thedarkone","info":"A collection of data structures and utilities
        to make thread-safe programming in Ruby easier","licenses":["Apache-2.0"],"metadata":{},"yanked":false,"sha":"9ed7072821b51c57e8d6b7011a8e282e25aeea3a4065eab326e43f66f063b05a","spec_sha":"d4c652350ae9eb13c4c3ef6f5b9c5893eccd2da930af268619962fa3e523ecf3","project_uri":"https://rubygems.org/gems/thread_safe","gem_uri":"https://rubygems.org/gems/thread_safe-0.3.6.gem","homepage_uri":"https://github.com/ruby-concurrency/thread_safe","wiki_uri":"","documentation_uri":"http://ruby-concurrency.github.io/thread_safe/frames.html","mailing_list_uri":"https://groups.google.com/forum/#!forum/concurrent-ruby","source_code_uri":"https://github.com/ruby-concurrency/thread_safe","bug_tracker_uri":"https://github.com/ruby-concurrency/thread_safe/issues","changelog_uri":null,"funding_uri":null,"dependencies":{"development":[{"name":"atomic","requirements":"=
        1.1.16"},{"name":"rake","requirements":"< 12.0"},{"name":"rspec","requirements":"~>
        3.2"}],"runtime":[]}}'
  recorded_at: Fri, 22 May 2026 09:00:42 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/versions/thread_safe.json
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Sat, 01 Jun 2024 03:31:57 GMT
      X-Backend:
      - F_Rails 16.147.102.11:443
      Etag:
      - '"1aae840875d0df8c913b5e6c055df386"'
    body:
      encoding: UTF-8
      string: '[{"authors":"Charles Oliver Nutter, thedarkone","built_at":"2017-02-22T00:00:00.000Z","created_at":"2017-02-22T19:51:15.835Z","description":"A
        collection of data structures and utilities to make thread-safe programming
        in Ruby easier","downloads_count":15465359,"metadata":{},"number":"0.3.6","summary":"Thread-safe
        collections and utilities for Ruby","platform":"java","rubygems_version":">=
        0","ruby_version":">= 0","prerelease":false,"licenses":["Apache-2.0"],"requirements":[],"sha":"bb28394cd0924c068981adee71f36a81c85c92e7d74d3f62372bd51489a0e0c2","spec_sha":"ec54cf7683866ec6cb14699609d648cd4b8736aa3d09313312ca7714393f3a14"},{"authors":"Charles
        Oliver Nutter, thedarkone","built_at":"2017-02-22T00:00:00.000Z","created_at":"2017-02-22T19:50:54.397Z","description":"A
        collection of data structures and utilities to make thread-safe programming
        in Ruby easier","downloads_count":482100880,"metadata":{[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/thread_safe/reverse_dependencies.json
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 35.166.142.192:443
      Etag:
      - '"5ed01779c9764fb03bcc18f22fae1d31"'
    body:
      encoding: UTF-8
      str[...]
