---
http_interactions:
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/thread_safe.json
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 54.186.104.15:443
      Etag:
      - '"018ba1b55a8c5bed5e439aa1efa5823d"'
    body:
      encoding: UTF-8
      string: '{"name":"thread_safe","downloads":125922046,"version":"0.3.6","version_downloads":32885325,"platform":"ruby","authors":"Charles
        Oliver Nutter, thedarkone","info":"A collection of data structures and utilities
        to make thread-safe programming in Ruby easier","licenses":["Apache-2.0"],"metadata":{},"sha":"9ed7072821b51c57e8d6b7011a8e282e25aeea3a4065eab326e43f66f063b05a","project_uri":"https://rubygems.org/gems/thread_safe","gem_uri":"https://rubygems.org/gems/thread_safe-0.3.6.gem","homepage_uri":"https://github.com/ruby-concurrency/thread_safe","wiki_uri":"","documentation_uri":"http://ruby-concurrency.github.io/thread_safe/frames.html","mailing_list_uri":"https://groups.google.com/forum/#!forum/concurrent-ruby","source_code_uri":"https://github.com/ruby-concurrency/thread_safe","bug_tracker_uri":"https://github.com/ruby-concurrency/thread_safe/issues","changelog_uri":null,"dependencies":{"development":[{"name":"atomic","requirements":"=
        1.1.16"},{"name":"rake","requirements":"\u003c 12.0"},{"name":"rspec","requirements":"~\u003e
        3.2"}],"runtime":[]}}'
  recorded_at: Thu, 22 Mar 2018 23:15:21 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/versions/thread_safe.json
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Wed, 22 Feb 2017 19:51:17 GMT
      X-Backend:
      - F_Rails 54.186.104.15:443
      Etag:
      - '"056921f453821c9f74372daad7cd9ae5"'
    body:
      encoding: UTF-8
      string: '[{"authors":"Charles Oliver Nutter, thedarkone","built_at":"2017-02-22T00:00:00.000Z","created_at":"2017-02-22T19:51:15.835Z","description":"A
        collection of data structures and utilities to make thread-safe programming
        in Ruby easier","downloads_count":1254028,"metadata":{},"number":"0.3.6","summary":"Thread-safe
        collections and utilities for Ruby","platform":"java","rubygems_version":"\u003e=
        0","ruby_version":"\u003e= 0","prerelease":false,"licenses":["Apache-2.0"],"requirements":[],"sha":"bb28394cd0924c068981adee71f36a81c85c92e7d74d3f62372bd51489a0e0c2"},{"authors":"Charles
        Oliver Nutter, thedarkone","built_at":"2017-02-22T00:00:00.000Z","created_at":"2017-02-22T19:50:54.397Z","description":"A
        collection of data structures and utilities to make thread-safe programming
        in Ruby easier","downloads_count":32885325,"metadata":{},"number":"0.3.6","summary":"Thread-safe
        collections and utilities for[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/thread_safe/reverse_dependencies.json
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 54.186.104.15:443
      Etag:
      - '"d38483f52e86f34ead7b98a2f81f20ef"'
    body:
      encoding: UTF-8
      string: '[...]
