= documentation_page "Categories" do
  article.blog-post
    markdown:
      To make it easier to **find and compare libraries** that **solve similar, common problems** we **maintain a [catalog
      of categories][catalog]**.

      The catalog itself is **maintained via plain YAML files on [GitHub][catalog]**.
      If you'd like to **add a library** to a category **please file a Pull Request there**.

      **Both Rubygems** as well as **direct references to GitHub repositories** are possible. If your library is packaged as a Rubygem
      please **always prefer to reference the Rubygem** and **[make sure you have referenced your GitHub repository in the gemspec](/pages/docs/guides/guide_for_library_maintainers)**.

      [catalog]: https://github.com/rubytoolbox/catalog
