= documentation_page "Production Database Exports" do
  article.blog-post
    markdown:
      You can find **daily production database exports** on [data.ruby-toolbox.com](https://data.ruby-toolbox.com/).

      You can use this both for acquiring a **real-world local dataset** for [development of the Ruby Toolbox](https://github.com/rubytoolbox/rubytoolbox) as well as for **your own research into the Ruby ecosystem**.

      <a href="https://data.ruby-toolbox.com" class="button is-primary is-fullwidth">
        <span class="icon"><i class="fa fa-database"></i></span>
        <span>Visit Production Data Exports site</span>
      </a>

      #### See also:

      * [Feature Announcement Blog Post](/blog/2018-09-30/database-exports)
      * [rubytoolbox#295](https://github.com/rubytoolbox/rubytoolbox/pull/295)
