= project_link project.rubygem_name, project.rubygem_url, icon: :diamond
= project_link project.github_repo_path, project.github_repo_url, icon: :github
= project_link "Homepage", project.homepage_url, icon: :home
= project_link "Documentation", project.documentation_url, icon: :book
= project_link "Source Code", project.source_code_url, icon: "code-fork"
= project_link "Bug Tracker", project.bug_tracker_url, icon: :bug
= project_link "Changelog", project.changelog_url, icon: "file-text-o"
= project_link "Mailing List", project.mailing_list_url, icon: :envelope
= project_link "Wiki", project.wiki_url, icon: "pencil-square"
