---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/rspec/rspec/readme
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - bearer <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.github.v3.html; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - '"51bb7383556e6b63039e5699d95841bc"'
      Last-Modified:
      - Fri, 24 Jul 2020 12:13:19 GMT
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; param=html
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4967'
      X-Ratelimit-Reset:
      - '1598823521'
    body:
      encoding: UTF-8
      string: |-
        <div id="readme" class="md" data-path="README.md"><article class="markdown-body entry-content container-lg" itemprop="text"><h1><a id="user-content-rspec" class="anchor" aria-hidden="true" href="#rspec"><svg class="octicon octicon-link" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z"></path></svg></a>RSpec</h1>
        <p>Behaviour Driven Development for Ruby</p>
        <h1><a id="user-content-description[...]
- request:
    method: get
    uri: https://api.github.com/repos/rspec/rspec/readme
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - bearer <GITHUB_TOKEN>
      If-None-Match:
      - '"51bb7383556e6b63039e5699d95841bc"'
  response:
    status:
      code: 304
      message: Not Modified
    headers:
      Status:
      - 304 Not Modified
      Etag:
      - '"51bb7383556e6b63039e5699d95841bc"'
      Last-Modified:
      - Fri, 24 Jul 2020 12:13:19 GMT
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4967'
      X-Ratelimit-Reset:
      - '1598823521'
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Sun, 30 Aug 2020 20:42:45 GMT
recorded_with: VCR 6.0.0
