.landing-hero
  @extend .hero

  .text, .image
    @extend .column, .is-half-desktop

  .image
    img
      width: 100%
      margin: 0 auto

  .title
    font-weight: 400

  .title + p
    margin-bottom: 75px

  .container > .columns
    align-items: center

  .recent-news
    margin-top: 30px
    .heading, a
      opacity: 0.5
    a:hover
      opacity: 1
