section.welcome
  @extend .hero, .is-medium

  .title
    font-weight: 400

  .title + p
    margin-bottom: 75px

.feature
  @extend .column
  .icon
    @extend .has-text-primary
  h3
    @extend .is-size-5
    padding: 30px 0
