@font-face {
  font-family: 'Lato';
  src: font-url('lato/LatoLatin-Bold.ttf') format("truetype"),
    font-url('lato/LatoLatin-Bold.woff') format("woff"),
    font-url('lato/LatoLatin-Bold.woff2') format("woff2");

  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: font-url('lato/LatoLatin-Regular.ttf') format("truetype"),
    font-url('lato/LatoLatin-Regular.woff') format("woff"),
    font-url('lato/LatoLatin-Regular.woff2') format("woff2");

  font-weight: 400;
  font-style: normal;
}
