---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/graphql
    body:
      encoding: UTF-8
      string: '{"query":"query RepositoryDataQuery($owner: String!, $name: String!)
        {\n\n  repository(owner: $owner, name: $name) {\n    nameWithOwner\n    forks
        {\n      totalCount\n    }\n    stargazers {\n      totalCount\n    }\n    watchers
        {\n      totalCount\n    }\n    createdAt\n    defaultBranchRef {\n      name\n      target
        {\n        ... on Commit {\n          history(first: 50) {\n            edges
        {\n              node {\n                authoredDate\n              }\n            }\n          }\n        }\n      }\n    }\n    description\n    hasIssuesEnabled\n    hasWikiEnabled\n    homepageUrl\n    isArchived\n    isFork\n    isMirror\n    licenseInfo
        {\n      key\n    }\n    primaryLanguage {\n      name\n    }\n    pushedAt\n    closedIssues:
        issues(states: CLOSED) {\n      totalCount\n    }\n    openIssues: issues(states:
        OPEN) {\n      totalCount\n    }\n    closedPullRequests: pullRequests(states:
        CLOSED) {\n      totalCount\n    }\n    openPullRequests: pullRequests(states:
        OPEN) {\n      totalCount\n    }\n    mergedPullRequests: pullRequests(states:
        MERGED) {\n      totalCount\n    }\n    repositoryTopics(first: 100) {\n      nodes
        {\n        topic {\n          name\n        }\n      }\n    }\n    codeOfConduct
        {\n      name\n      url\n    }\n  }\n  rateLimit {\n    limit\n    cost\n    remaining\n    resetAt\n  }\n}\n","variables":{"owner":"jnicklas","name":"carrierwave"}}'
    headers:
      Authorization:
      - bearer <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v4; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4992'
      X-Ratelimit-Reset:
      - '1587242742'
    body:
      encoding: UTF-8
      string: '{"data":{"repository":{"nameWithOwner":"carrierwaveuploader/carrierwave","forks":{"totalCount":1473},"stargazers":{"totalCount":8483},"watchers":{"totalCount":149},"createdAt":"2008-08-28T18:39:49Z","defaultBranchRef":{"name":"master","target":{"history":{"edges":[{"node":{"authoredDate":"2020-02-24T09:31:06Z"}},{"node":{"authoredDate":"2020-02-18T10:33:16Z"}},{"node":{"authoredDate":"2020-02-16T09:07:08Z"}},{"node":{"authoredDate":"2020-02-16T08:04:46Z"}},{"node":{"authoredDate":"2019-12-27T03:58:41Z"}},{"node":{"authoredDate":"2019-12-25T17:45:42Z"}},{"node":{"authoredDate":"2019-12-24T19:26:45Z"}},{"node":{"authoredDate":"2019-12-24T05:20:29Z"}},{"node":{"authoredDate":"2019-12-24T05:02:05Z"}},{"node":{"authoredDate":"2019-12-13T04:26:27Z"}},{"node":{"authoredDate":"2019-11-2[...]
