---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/graphql
    body:
      encoding: UTF-8
      string: '{"query":"{\n  repository(owner: \"rails\", name: \"rails\") {\n    nameWithOwner\n    forks
        {\n      totalCount\n    }\n    stargazers {\n      totalCount\n    }\n    watchers
        {\n      totalCount\n    }\n    createdAt\n    defaultBranchRef {\n      name\n      target
        {\n        ... on Commit {\n          history(first: 50) {\n            edges
        {\n              node {\n                authoredDate\n              }\n            }\n          }\n        }\n      }\n    }\n    description\n    hasIssuesEnabled\n    hasWikiEnabled\n    homepageUrl\n    isArchived\n    isFork\n    isMirror\n    licenseInfo
        {\n      key\n    }\n    primaryLanguage {\n      name\n    }\n    pushedAt\n    closedIssues:
        issues(states: CLOSED) {\n      totalCount\n    }\n    openIssues: issues(states:
        OPEN) {\n      totalCount\n    }\n    closedPullRequests: pullRequests(states:
        CLOSED) {\n      totalCount\n    }\n    openPullRequests: pullRequests(states:
        OPEN) {\n      totalCount\n    }\n    mergedPullRequests: pullRequests(states:
        MERGED) {\n      totalCount\n    }\n  }\n\n  rateLimit {\n    limit\n    cost\n    remaining\n    resetAt\n  }\n}\n"}'
    headers:
      Authorization:
      - bearer <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4994'
      X-Ratelimit-Reset:
      - '1520891517'
      X-Oauth-Scopes:
      - public_repo
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v4; format=json
    body:
      encoding: UTF-8
      string: '{"data":{"repository":{"nameWithOwner":"rails/rails","forks":{"totalCount":15265},"stargazers":{"totalCount":38930},"watchers":{"totalCount":2613},"createdAt":"2008-04-11T02:19:47Z","defaultBranchRef":{"name":"master","target":{"history":{"edges":[{"node":{"authoredDate":"2018-03-12T17:34:42Z"}},{"node":{"authoredDate":"2018-03-12T13:55:58Z"}},{"node":{"authoredDate":"2018-03-12T13:41:12Z"}},{"node":{"authoredDate":"2018-03-12T13:02:27Z"}},{"node":{"authoredDate":"2018-03-12T11:39:24Z"}},{"node":{"authoredDate":"2018-03-12T10:43:22Z"}},{"node":{"authoredDate":"2018-03-11T20:22:20Z"}},{"node":{"authoredDate":"2018-03-11T19:48:50Z"}},{"node":{"authoredDate":"2018-03-11T01:00:26Z"}},{"node":{"authoredDate":"2018-03-10T10:43:31Z"}},{"node":{"authoredDate":"2018-03-0[...]
