= render "metric_numeric_documentation", table: :github_repos, column: :closed_issues_count do
  .narrow-column= project_ranking "Most closed issues", table: :github_repos, column: :closed_issues_count
