= render "metric_date_documentation", table: :github_repos, column: :average_recent_committed_at do
  = project_ranking "Recently most active projects", table: :github_repos, column: :average_recent_committed_at
