= render "metric_numeric_documentation", table: :github_repos, column: :merged_pull_requests_count do
  .narrow-column= project_ranking "Most merged Pull Requests", table: :github_repos, column: :merged_pull_requests_count
