= render "metric_numeric_documentation", table: :github_repos, column: :open_pull_requests_count
  = project_ranking "Most open Pull Requests", table: :github_repos, column: :open_pull_requests_count
