= documentation_page "Documentation" do
  article.blog-post
    markdown:
      **Welcome to the Ruby Toolbox documentation!**

      Here you can find help regarding the Ruby Toolbox's features,
      the available project metrics and how they can help you in finding
      a reliable library for your project.
